@import "tailwindcss";

@custom-variant hover (&:hover);


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red-hat-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E0E8FF;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: var(--font-red-hat-display), sans-serif;
}
